@import "tailwindcss";



a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}
a:hover {
  color: #000000;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

/* Esconde a barra de rolagem no Chrome, Edge e Safari */
::-webkit-scrollbar {
  display: none;
}

/* Esconde a barra de rolagem no Firefox */
html {
  scrollbar-width: none;
}